/* HowItWorks.css */
.how-it-works {
    min-height: 40vh; /* Ensure full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    background-color: #f9f9f9;
}

.section-title {
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    margin-bottom: 40px;
    color: #333;
  }

.how-it-works .MuiTypography-h5 {
    font-weight: 500;
    color: #444;
}

.how-it-works .MuiTypography-body1 {
    color: #666;
}

.how-it-works .MuiGrid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    margin-bottom: 15px;
    color: #4caf50;
}

